doctype html
html(style="color:white;background:#333;text-shadow: 0 1px 3px rgba(0,0,0,.5);text-align: center;")
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    style
        |    a,
        |    a:focus,
        |    a:hover {
        |        color: #fff;
        |    }
        |    .btn-default,
        |    .btn-default:hover,
        |    .btn-default:focus {
        |        color: #333;
        |        text-shadow: none; /* Prevent inheritance from `body` */
        |        background-color: #fff;
        |        border: 1px solid #fff;
        |    }

    body(style="color:white;background:#333;text-shadow: 0 1px 3px rgba(0,0,0,.5);text-align: center;margin-top:5px;padding: 5px;border-radius: 5px;")
      h1(style="margin-top:5px;padding: 5px;border-radius: 5px;") Bienvenido a conquista niveles #{usuario.nombre} !
      p
        strong Por favor, haga clic en el siguiente enlace para para confirmar su cuenta de correo:
        br
        a(href="http://tprocesos.herokuapp.com/confirmarCuenta/#{usuario.email}/#{usuario.token}")
            | Deseo confirmar mi cuenta
        br
        |Gracias.
      h2(style="font-size: 450%;margin:0px;background:#7E7E7E;border-radius: 5px;", width="250")
        span(style="color:#000;") ♠
        span(style="color:red;") ♥
        span(style="color:black;") ♣
        span(style="color:red;") ♦
        br 
        |KEEP CALM
        br 
        |AND
        br
        |CONQUER
        br
        |A LEVEL
      p Si ha recibido este correo y no es el usuario responsable, por favor elimínelo.